**pycache**
_.pyc
_.pyo
_.pyd
.Python
_.so
_.egg
_.egg-info
dist
build
.env
.venv
venv/
ENV/
.pytest_cache
.coverage
htmlcov/
.tox/
.mypy_cache/
.dmypy.json
dmypy.json
\*.log
.DS_Store
.git
.gitignore
README.md
