fastapi
uvicorn
langgraph
pydantic
python-dotenv
langchain_groq
IPython
tavily
python-multipart
requests
# RAG dependencies
langchain
langchain-community
sentence-transformers
faiss-cpu
pypdf
python-docx
unstructured
markdown